<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Demian Fitness</title>
        <meta charset="ISO-8859-1">
        <meta name="author" content="Rafael">
        <meta name="description" content="">
        <meta name="keywords" content="html5, tecnologia">
        
        <link rel="stylesheet" href="resources/CSS/estilo.css">
    </head>
    <body>
        <div id="Principal">
            <header class="hero">
                <div class="hero-content">
                    <h1>Demian Fitness</h1>
                </div>
            </header>
            <nav>
                <ul>
                    <li><h1>MENU</h1></li>
                    <li><a th:href="@{/inicioUser}">Início</a></li>
                    <li><a th:href="@{/telaCompra}">Comprar</a></li>
                    <li><a th:href="@{/tabelaCompras}">Mostrar Compras</a></li>
                    <li><a th:href="@{/sair}">Sair</a></li>
                </ul>
            </nav>
            <main>
                <section class="content-section2">
                    <form th:action="@{/}" th:method="post">
                    	<div>
	                    	<h1>Motivação faz você Começar.</h1>
	                    	<h1>O hábito faz você continuar.</h1>
	                    	<h1>Demian Fitness - MELHORES PRODUTOS!</h1>
	                    	<h1>Bem Vindo!</h1>
                    	</div>
                    </form>
                </section>
            </main>
        </div>
        
    </body>
</html>