<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Demian Fitness</title>
        <meta charset="ISO-8859-1">
        <meta name="author" content="Rafael">
        <meta name="description" content="">
        <meta name="keywords" content="html5, tecnologia">
        
        <link rel="stylesheet" href="resources/CSS/estilo.css">
    </head>
    <body>
        <div id="Principal">
            <header class="hero">
                <div class="hero-content">
                    <h1>Demian Fitness</h1>
                </div>
            </header>
            <main>
                <section class="content-section2">
                    <form th:action="@{/validaLogin}" th:method="post">
                    	<label class="label2">Email:</label>
						<input type="text" name="email">
						<label class="label2">Senha:</label>
						<input type="password" name="senha">
	                    <button type="submit" name="cmd" value="logar">Logar</button>
	                    <label class="label1" th:text="${erro}"></label>
                    </form>
                </section>
            </main>
        </div>
        
    </body>
</html>